@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{box-sizing: border-box;}
/* .slide > img {vertical-align: middle;
     height: 600px;} */
.slide {display: none;}
body{
    margin:0;
}
.slideshow {
    margin: 5rem auto;
    overflow: hidden;
    max-width: 80%;
  }

  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }

  .slide {
    display: inline-block;

    height: 500px;
    width: 100%;
    border-radius: 40px;
  }

  /* Buttons */

  .slideshowDots {
    text-align: center;
  }

  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
  }

  .slideshowDot.active {
    background-color: #32527b;
  }